.cards {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-flow: row wrap;
}
.card {
  height: 400px;
  width: 400px;

  margin: 12px auto;
}
.btn {
  margin: 0 12px;
}

.shopimg {
  height: 200px;
}
